<template>
  <b-card class="mt-3">
    <template #header>
      <h4 class="mb-0">Bill of Materials Configuration</h4>
    </template>
    <div class="d-flex flex-column gap-3">
      <div class="d-flex flex-column gap-1">
        <label class="form-top-level-label w-25" for="page-bom-title"
          >Title for page BoM:</label
        >
        <b-form-input v-model="configJson.PageBOMTitle"></b-form-input>
        <div class="form-info">
          Title to be displayed for the bill of materials displayed within a
          page.
        </div>
      </div>

      <div class="d-flex flex-column gap-1">
        <label class="form-top-level-label" for="default-category"
          >Default category:</label
        >
        <b-form-select v-model="configJson.DefaultCategory" class="form-select">
          <option value="part">Part</option>
          <option value="tool">Tool</option>
          <option
            v-for="(category, i) in configJson.CustomCategories"
            v-bind:key="'category-' + i"
            :value="category._id"
          >
            {{ category.DisplayName }}
          </option>
        </b-form-select>
        <div class="form-info">
          The default category of when adding items to you bill of materials.
        </div>
      </div>
      <div class="d-flex flex-column gap-1">
        <label class="form-label-like-title" for="default-category"
          >Custom Categories:</label
        >
        <div class="form-info">
          Add custom categories for categorising your project's bill of
          materials.
        </div>
      </div>

      <div
        class="custom-categories"
        v-for="(category, i) in configJson.CustomCategories"
        v-bind:key="'cat-' + i"
      >
        <label class="form-top-level-label" for="category-label"
          >Category label:
        </label>
        <input
          class="form-control"
          v-model="configJson.CustomCategories[i]._id"
          type="text"
          name="category-label"
          size="30"
          required="true"
        />
        <div class="form-info">
          The category code used when creating a part link. Ideally this should
          be short and not contain spaces or special characters.
        </div>
        <label class="form-top-level-label" for="category-display"
          >Category display name:
        </label>
        <input
          class="form-control"
          v-model="configJson.CustomCategories[i].DisplayName"
          type="text"
          name="category-display"
          size="30"
          required="true"
        />
        <div class="form-info">
          Title for the category in your bill of materials.
        </div>
        <label class="form-top-level-label" for="category-reuse"
          >Reuse items?
        </label>
        <input
          class="form-checkbox"
          v-model="configJson.CustomCategories[i].Reuse"
          type="checkbox"
          name="category-reuse"
          checked="false"
        />
        <div class="form-info">
          Set whether items can be reused. For example, this should be set to
          true for tools, because if you use a screwdriver twice, you only need
          one screwdriver.
        </div>
        <b-button
          variant="light"
          type="button"
          class="block-button d-flex gap-2 button-hover"
          @click="removeCategory(i)"
        >
          <b-icon
            variant="danger"
            icon="dash-square-dotted"
            class="icon-margin"
          ></b-icon
          >Remove category
        </b-button>
      </div>
    </div>
    <b-button
      class="d-flex gap-2 button-hover"
      variant="light"
      type="button"
      @click="addCategory"
      ><b-icon
        variant="success"
        icon="plus-square-dotted"
        class="icon-margin"
      ></b-icon
      >Add a category</b-button
    >
  </b-card>
</template>
<script>
export default {
  name: "BOMConfig",
  data() {
    return {};
  },

  props: {
    configJson: Object
  },

  mounted() {},
  created() {},
  methods: {
    addCategory() {
      this.configJson.CustomCategories.push({ _id: "", Reuse: false });
    },
    removeCategory(i) {
      this.configJson.CustomCategories.splice(i, 1);
    }
  }
};
</script>

<style scoped>
.custom-categories {
  padding: 0px 10px 10px 10px;
  border: 1px solid rgb(180, 6, 6);
  border-radius: 10px;
  margin: 3px;
}
.form-checkbox {
  margin-left: 3px;
}

.button-hover:hover {
  background-color: #c0c0c0;
}
</style>
