<template>
  <div>
    <b-card class="mt-3">
      <template #header>
        <h4 class="mb-0">License Information</h4>
      </template>
      <div>
        <label class="form-top-level-label" for="license-id"
          >Project license:</label
        >
        <div class="form-info">
          The license for your project and its documentation.
        </div>
        <select
          class="form-select"
          v-model="licenseId"
          v-on:change="licenseChanged"
          name="license-id"
        >
          <option value="">No license - Not recommended!</option>
          <optgroup
            v-for="(licenseGroup, i) in licenseGroups"
            v-bind:key="'licenseGroup-' + i"
            :label="licenseGroup"
          >
            <option
              v-for="(license, j) in licenses[licenseGroup]"
              v-bind:key="'license-' + j"
              :value="license"
            >
              {{ license }}
            </option>
          </optgroup>
          <optgroup label="Custom">
            <option value="custom">Unlisted or custom license</option>
          </optgroup>
        </select>
      </div>
      <div class="mt-3">
        <div v-if="licenseId && showFileSelector">
          <label class="form-top-level-label" for="license-file"
            >License file:</label
          >
          <select
            class="form-select"
            v-model="configJson.LicenseFile"
            name="license-file"
          >
            <option selected="true"></option>
            <option
              v-for="(page, j) in pages"
              v-bind:key="'license-page-' + j"
              :value="page"
              >{{ page }}</option
            >
          </select>
          <div :class="licenseFileInfoClass" id="license-file-info">
            {{ licenseFileInfoText }}
          </div>
          <div class="form-info">
            The file containing your licence text.
          </div>
        </div>
      </div>
    </b-card>
  </div>
</template>

<script>
export default {
  name: "LicenseInfo",

  components: {},

  data() {
    return {
      licenseId: "",
      licenseGroups: {},
      allLicenses: []
    };
  },

  props: {
    configJson: Object,
    licenses: Object,
    pages: Array,
    showFileSelector: { type: Boolean, default: true }
  },

  mounted() {},

  watch: {
    licenses: function() {
      this.setData();
    }
  },

  asyncComputed: {
    customLicense() {
      return this.licenseId === "custom";
    },
    licenseFileInfoText() {
      if (!this.licenseId) {
        if (!this.configJson.LicenseFile) {
          return "";
        }
        return "License file set with no license specified";
      }
      if (this.licenseId === "custom") {
        if (this.configJson.LicenseFile) {
          return "";
        }
        return "Custom license specified but no license file set";
      }
      if (!this.configJson.LicenseFile) {
        return "Licence file auto-generated";
      }
      return "Auto-generated licence file overridden";
    },
    licenseFileInfoClass() {
      if (!this.licenseId) {
        if (!this.configJson.LicenseFile) {
          return "license-ok";
        }
        return "license-problem";
      }
      if (this.licenseId === "custom") {
        if (this.configJson.LicenseFile) {
          return "license-ok";
        }
        return "license-problem";
      }
      if (!this.configJson.LicenseFile) {
        return "license-ok";
      }
      return "license-problem";
    }
  },
  methods: {
    licenseChanged() {
      if (this.licenseId === "custom") {
        this.configJson.License = "";
      } else {
        this.configJson.License = this.licenseId;
      }
    },
    checkLicense(license) {
      return this.allLicenses.findIndex(e => e === license) != -1;
    },
    setData() {
      this.licenseGroups = Object.keys(this.licenses);
      var allLicenses = [];
      for (const groupLicenses of Object.values(this.licenses)) {
        allLicenses = allLicenses.concat(groupLicenses);
      }
      this.allLicenses = allLicenses;
      if (this.checkLicense(this.configJson.License)) {
        this.licenseId = this.configJson.License;
      }
    }
  },
  created() {
    this.setData();
  }
};
</script>

<style scoped>
.license-ok {
  color: darkgreen;
}

.license-problem {
  color: darkred;
}

#license-file-info {
  display: inline;
  margin: 5px;
}
</style>
