<template>
  <Modal
    :based-on="value"
    @close="$emit('input', false)"
    title="New GitBuilding Project"
    wrapper-class="animate__animated"
    modal-class="drawer"
    in-class="animate__fadeInRight"
    out-class="animate__fadeOutRight"
  >
    <form @submit="submitNew">
      <ProjectDetails :config-json="config" :title-override="false" />
      <LicenseInfo
        :config-json="config"
        :licenses="licenses"
        :show-file-selector="false"
      />
      <b-card class="mt-3">
        <template #header>
          <h4 class="mb-0">Project Directory</h4>
        </template>
        <label class="form-top-level-label" for="project-dir"
          >Find Project Directory Name</label
        >
        <input
          class="form-control"
          v-model="projectDir"
          id="project-dir"
          type="Text"
        />
        <div class="form-info" v-if="projectDir && !dirNameValid">
          Project directory can only contain letters, numbers, hyphens, and
          underscores.
        </div>
        <div class="form-label-like-title">Location to create project</div>
        <div id="dir-container">
          <DirectoryViewer @selectionChanged="newLocationChanged" />
        </div>
      </b-card>

      <div class="row modal-footer">
        {{ finalMessage }}
        <div class="col-sm-12">
          <div class="float-right">
            <button
              class="btn btn-primary"
              :disabled="!dirNameValid || !locationValid"
            >
              Ok
            </button>

            <button
              class="btn btn-secondary ml-2"
              type="button"
              @click="$emit('input', false)"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </form>
  </Modal>
</template>
<script>
import "../assets/form.css";
import DirectoryViewer from "./DirectoryViewer.vue";
import ProjectDetails from "./ProjectDetails.vue";
import LicenseInfo from "./LicenseInfo.vue";
export default {
  name: "NewProjectDrawer",

  components: { DirectoryViewer, ProjectDetails, LicenseInfo },

  data() {
    return {
      newLocation: "",
      locationValid: true,
      dirNameValid: true,
      projectDir: "",
      config: {
        Title: "",
        Authors: [],
        Affiliation: "",
        Email: "",
        License: ""
      },
      licenses: {}
    };
  },

  props: {
    value: Boolean
  },

  mounted() {},

  watch: {},

  asyncComputed: {
    dirNameValid() {
      const regex = new RegExp("^[a-zA-Z0-9 _-]+$");
      return regex.test(this.projectDir);
    },
    finalMessage() {
      if (!this.config.Title) {
        return "Please enter a project title";
      }
      if (!this.dirNameValid) {
        return "Please enter a valid project directory";
      }
      if (!this.locationValid) {
        return "Please select a folder not a file";
      }
      if (this.newLocation) {
        return (
          "Creating project in: " + this.newLocation + "/" + this.projectDir
        );
      }
      return "Creating project in: " + this.projectDir;
    }
  },

  methods: {
    updateFromServer() {
      this.$http.get("/-/list-licenses").then(function(response) {
        this.licenses = response.body.licenses;
      });
    },
    newLocationChanged(selection) {
      if (selection.selectionType === "dir") {
        if (selection.currentPath === "") {
          this.newLocation = selection.selectionName;
        } else {
          this.newLocation =
            selection.currentPath + "/" + selection.selectionName;
        }
        this.locationValid = true;
      } else if (selection.selectionType === "file") {
        this.newLocation = null;
        this.locationValid = false;
      } else {
        this.newLocation = selection.currentPath;
        this.locationValid = true;
      }
    },

    submitNew(e) {
      e.preventDefault();
      this.$http
        .post("launcher/new-project", {
          projectConfig: this.config,
          Path: this.newLocation,
          newDir: this.projectDir
        })
        .then(response => {
          if (response.body.completed) {
            this.$emit("projectCreated");
            this.$emit("input", false);
          } else {
            this.$fire({
              type: "error",
              text: response.body.msg,
              title: "Error",
              heightAuto: false
            });
          }
        })
        .catch(error => {
          console.error(error);
          this.$fire({
            type: "error",
            text: "Couldn't create new project",
            title: "Error",
            heightAuto: false
          });
        });
    }
  },
  created() {
    this.updateFromServer();
  }
};
</script>

<style>
@import "~animate.css/animate.css";

.vm.drawer {
  position: absolute;
  margin: 0 auto;
  width: 50%;
  min-width: 510px;
  max-width: 700px;
  background-color: #fff;
  cursor: default;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  height: 100%;
  right: 0;
  top: 0;
}
.vm-content {
  background: #fff;
}
</style>
<style scoped>
#dir-container {
  height: 50vh;
  margin-top: 10px;
  border: 1px solid #888;
  background: #eee;
}
.directory-viewer {
  border-top: unset;
}
.modal-footer {
  padding: 15px 0px 0px 0px;
  border-top: 1px solid #e5e5e5;
  margin-left: -14px;
  margin-right: -14px;
}
</style>
