<template>
  <div id="container" ref="cont">
    <div id="toolbar">
      <div id="toolbar-controls">
        <b-button
          class="d-flex gap-1 button-hover"
          variant="light"
          v-on:click="exitApp"
          ><b-icon
            variant="danger"
            class="icon-margin"
            icon="door-closed"
          ></b-icon
          >Return to documentation</b-button
        >
      </div>
      <div id="app-title">
        <h3>GitBuilding PDF Exporter</h3>
      </div>
    </div>
    <div id="main-panel">
      <b-card class="mt-3">
        <div class="d-flex flex-column">
          <b-button
            class="d-flex gap-1 button-hover"
            variant="light"
            v-on:click="generatePdf"
            :disabled="status == 'Running'"
            ><b-icon
              variant="success"
              class="icon-margin"
              icon="play-circle"
            ></b-icon
            >{{ generateMesage }}</b-button
          >

          <div id="status-panel" class="d-flex flex-column">
            <h4>{{ status }}</h4>

            <b-button
              class="d-flex gap-1 button-hover"
              v-for="(pdf, i) in pdfs"
              v-bind:key="'pdf-' + i"
              variant="light"
              v-on:click="download(i)"
              ><b-icon
                variant="primary"
                class="icon-margin"
                icon="download"
              ></b-icon
              >{{ pdf }}</b-button
            >
          </div>
        </div>
      </b-card>
    </div>
  </div>
</template>

<script>
export default {
  name: "PdfInterface",

  components: {},

  data() {
    return {
      status: "",
      pdfs: []
    };
  },

  mounted() {},

  asyncComputed: {
    generateMesage() {
      return this.status != "Not started"
        ? "Regenerate PDF(s)"
        : "Generate PDF(s)";
    }
  },

  methods: {
    updateFromServer() {
      this.$http.get("status").then(function(response) {
        this.status = response.body.status;
        this.pdfs = response.body.pdfs;
      });
    },

    pollStatus() {
      setInterval(() => {
        this.updateFromServer();
      }, 5000);
    },

    exitApp() {
      window.location.href = window.location.href.replace(/\/-\/pdf\//, "");
    },

    generatePdf() {
      this.$http.post("generate");
      this.status = "Running";
      this.pdfs = [];
    },

    download(i) {
      window.open("fetch/" + i);
    }
  },

  created() {
    this.updateFromServer();
    this.pollStatus();
  }
};
</script>

<style scoped>
#container {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#toolbar {
  flex: 0 1 auto;
  background: white;
  border-bottom: 1px solid gray;
  padding: 5px 10px;
}

#toolbar h2,
#toolbar h3 {
  display: inline;
}

#toolbar-controls {
  display: flex;
  float: left;
  gap: 6px;
}

#app-title {
  display: block;
  float: right;
}

#main-panel {
  width: 49%;
  margin: 5px auto 25px auto;
  min-width: 480px;
}

#status-panel {
  margin: 25px 5px;
}
</style>
<style>
.icon-margin {
  margin-top: 1px;
}
.button-hover:hover {
  font-weight: bold;
  text-decoration: underline black;
}
</style>
