<template>
  <div id="toolbar-text-buttons">
    <b-button
      v-for="button in toolbarButtons"
      :key="button.title"
      v-b-tooltip.hover
      :title="button.title"
      size="sm"
      variant="light"
      class="toolbar-button d-flex gap-1"
      @click="button.clickHandler"
    >
      <b-icon
        v-if="!button.mathIcon"
        focusable="false"
        class="icon-margin"
        :icon="button.icon"
        scale="1"
      ></b-icon>
      <span v-if="button.mathIcon" class="math-icon math-button">{{
        button.mathIcon
      }}</span>
    </b-button>
  </div>
</template>

<script>
export default {
  name: "ToolBarButtons",
  props: {
    parent: {
      type: Object,
      required: true
    },
    showPartLinkModal: {
      type: Boolean,
      required: true
    }
  },
  data() {
    return {
      toolbarButtons: [
        {
          title: "Add bold text",
          icon: "type-bold",
          clickHandler: this.addBold
        },
        {
          title: "Add italic text",
          icon: "type-italic",
          clickHandler: this.addItalic
        },
        {
          title: "Add a link",
          icon: "link45deg",
          clickHandler: this.addLink
        },
        {
          title: "Add Bill of Materials (BOM)",
          icon: "list-ul",
          clickHandler: this.addBom
        },
        {
          title: "Add a part",
          icon: "file-earmark-medical",
          clickHandler: () => this.$emit("updatePartLinkModalFunction", true)
        },
        {
          title: "Add a header",
          icon: "file-earmark-ruled",
          clickHandler: this.addHeader
        },
        {
          title: "Add a math equation",
          mathIcon: "∑",
          clickHandler: this.addMath
        },
        {
          title: "Add a code snippet",
          icon: "code-slash",
          clickHandler: this.addCodeSnippet
        },
        {
          title: "Add an image gallery",
          icon: "images",
          clickHandler: this.addImageGallery
        },
        {
          title: "Add a info link",
          icon: "info-circle",
          clickHandler: this.addInfoLink
        },
        {
          title: "Add a warning message",
          icon: "exclamation-octagon",
          clickHandler: () => this.addMessage("Warning")
        },
        {
          title: "Add a caution message",
          icon: "exclamation-triangle",
          clickHandler: () => this.addMessage("Caution")
        },
        {
          title: "Add a note message",
          icon: "journals",
          clickHandler: () => this.addMessage("Note")
        },
        {
          title: "Add a help block",
          icon: "question-circle",
          clickHandler: () => this.addMessage("Help Block")
        }
      ]
    };
  },

  methods: {
    clearEditorSelection() {
      const textarea = this.parent.edtext;
      textarea.selectionStart = textarea.selectionEnd;
    },

    moveEditorCursorToStart() {
      const textarea = this.parent.edtext;
      textarea.selectionStart = 0;
      textarea.selectionEnd = 0;
    },

    editorHasTextSelected() {
      const textarea = this.parent.edtext;
      return textarea.selectionStart !== textarea.selectionEnd;
    },

    insertEditorText(text) {
      const textarea = this.parent.edtext;
      textarea.focus();
      document.execCommand("insertText", false, text);
    },

    wrapEditorText(beforeText, afterText) {
      const textarea = this.parent.edtext;
      const currentValue = textarea.value;
      const selectionStart = textarea.selectionStart;
      const selectionEnd = textarea.selectionEnd;
      const selectedText = currentValue.slice(selectionStart, selectionEnd);
      textarea.focus();
      document.execCommand(
        "insertText",
        false,
        beforeText + selectedText + afterText
      );
    },

    addLink() {
      if (this.editorHasTextSelected()) {
        this.wrapEditorText("[", "](https://www.<Your Link Url>)");
      } else {
        this.insertEditorText("[Link Title](https://www.<Your Link Url>)");
      }
    },

    addFontStyle(fontStyleType) {
      const fontSyntax = fontStyleType === "italic" ? "_" : "**";
      if (this.editorHasTextSelected()) {
        this.wrapEditorText(fontSyntax, fontSyntax);
      } else {
        this.insertEditorText(fontSyntax + fontStyleType + fontSyntax);
      }
    },

    addBold() {
      this.addFontStyle("bold");
    },

    addItalic() {
      this.addFontStyle("italic");
    },

    cleanEditorSelectedText() {
      if (this.editorHasTextSelected()) {
        this.clearEditorSelection();
      }
    },

    addBom() {
      this.cleanEditorSelectedText();
      this.insertEditorText("\n{{BOM}}\n");
    },

    addPartLink(partLink) {
      this.cleanEditorSelectedText();
      this.insertEditorText(partLink);
    },
    addHeader() {
      this.moveEditorCursorToStart();
      this.insertEditorText(
        "---\nDetails:\n    Thumbnail: images/<Your Image>.jpg\n    Time: 40 Minutes\n    Difficulty: Easy\n    Skills:\n      - 3D printing\n      - Programming\n---\n<!-- There should be only one Header per page. You do not need to use all the keys -->\n\n"
      );
    },
    addMath() {
      this.cleanEditorSelectedText();
      this.insertEditorText(
        "\n<!-- You can add your math equation using LaTex here -->\n```math\nA = \\sum_{i=0}^{N}a_i\n```\n"
      );
    },
    addCodeSnippet() {
      this.cleanEditorSelectedText();
      this.insertEditorText(
        "```{.python}\nimport numpy as np\nprint('Hello World!')\nprint('It works with other common languages')\n```\n"
      );
    },
    addImageGallery() {
      this.cleanEditorSelectedText();
      this.insertEditorText(
        "\n<!-- You can drag and drop your images directly here and use this template -->\n![](images/<Your Image>.jpg)\n![](images/<Your Image>.jpg)\n![](images/<Your Image>.jpg)\n"
      );
    },
    addInfoLink() {
      this.cleanEditorSelectedText();
      this.insertEditorText("\n [i](<Your-Info-Reference-File>.md) \n");
    },
    addMessage(messageType) {
      this.cleanEditorSelectedText();
      let syntax_sign = "";
      switch (messageType) {
        case "Warning":
          syntax_sign = "!!";
          break;
        case "Caution":
          syntax_sign = "!";
          break;
        case "Note":
          syntax_sign = "i";
          break;
        case "Help Block":
          syntax_sign = "?";
          break;
      }
      this.insertEditorText(
        `\n>${syntax_sign} **${messageType}** \n>${syntax_sign}\n>${syntax_sign} ${messageType} message\n`
      );
    }
  }
};
</script>
<style>
.math-button {
  width: 10px;
}
.math-icon {
  margin-left: 3px;
}

#toolbar-text-buttons {
  display: flex;
  border: #333238;
  background: lightgray;
  gap: 5px;
  padding: 0.5rem 0rem 0.5rem 1.2rem;
  border-bottom: 1px solid grey;
}

.header-icon-margin {
  margin-top: 2px;
  color: #89888d;
}
.icon-margin {
  margin-top: 3px;
}
</style>
