<header class="site-header">
    <div class="wrapper header-wrapper" >
        {{ project_header | safe }}
        {% if not static %}
        <div class="page-settings-and-warnings">
          <navbar-buttons root="{{root}}" editorbutton="{{editorbutton}}" editor_link="{{editor_link}}"></navbar-buttons>
            {% if warning_count[0]+warning_count[1] > 0 %}
              <div class ="warnings">
                <br>
                {% if warning_count[0] > 0 %}
                <a href="{{root}}/-/warnings" style="color:red; font-weight: bold;"> Warnings: {{warning_count[0]}} </a>
                {% endif %}
                {% if warning_count[1] > 0 %}
                <a href="{{root}}/-/warnings" style="color:orange; font-weight: bold;"> Fussy Warnings: {{warning_count[1]}} </a>
                {% endif %}
              </div>
            {% endif %}
          </div>
        {% endif %}
    </div>
</header>
<div class="page-content">
    {% if nav %}
        <div>
            <nav class="sidebar">
                <a href="#" class="menu-icon">
                <svg viewBox="0 0 18 15">
                    <path fill="#424242" d="M18,1.484c0,0.82-0.665,1.484-1.484,1.484H1.484C0.665,2.969,0,2.304,0,1.484l0,0C0,0.665,0.665,0,1.484,0 h15.031C17.335,0,18,0.665,18,1.484L18,1.484z"/>
                    <path fill="#424242" d="M18,7.516C18,8.335,17.335,9,16.516,9H1.484C0.665,9,0,8.335,0,7.516l0,0c0-0.82,0.665-1.484,1.484-1.484 h15.031C17.335,6.031,18,6.696,18,7.516L18,7.516z"/>
                    <path fill="#424242" d="M18,13.516C18,14.335,17.335,15,16.516,15H1.484C0.665,15,0,14.335,0,13.516l0,0 c0-0.82,0.665-1.484,1.484-1.484h15.031C17.335,12.031,18,12.696,18,13.516L18,13.516z"/>
                </svg>
                </a>
                <ul class="nav-list">
                {{ nav_links | safe }}
                </ul>
            </nav>
        </div>
    {% endif %}
    <div class="wrapper">
    {{ content | safe }}
    </div>
</div>
<footer class="site-footer">
    <div class="wrapper">
        {{ project_footer | safe }}
    </div>
</footer>
