{% for favicon in ico_favicons %}
<link rel="shortcut icon" href="{{root}}{{favicon}}" />
{% endfor %}
{% for favicon, size in png_favicons %}
<link rel="icon" type="image/png" href="{{root}}{{favicon}}" sizes="{{size}}x{{size}}" />
{% endfor %}
