<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    {% if pdf_title is not none %}
        <title>{{pdf_title}}</title>
    {%endif %}
    <link href="static/base-style.css" rel="stylesheet">
    <link href="static/pdf-style.css" rel="stylesheet">

</head>
<body>

<header class="site-header">
    <div class="wrapper">
        {{ project_header | safe }}
    </div>
</header>
{% if title_image is not none %}
        <img src="{{ title_image }}" style="width: 15cm; height: 15cm"> 
        {%endif %}
{{ content | safe }}


<footer class="site-footer" style="page-break-before: always">
    <div class="wrapper">
        {{ project_footer | safe }}
    </div>
</footer>


</body>
</html>