{% if primary_color is not none %}
<style>
  :root {
    --primary-color: {{primary_color}};
  }
</style>
{% endif %}
{% if secondary_color is not none %}
<style>
  :root {
    --secondary-color: {{secondary_color}};
  }
</style>
{% endif %}
{% if hover_color is not none %}
<style>
  :root {
    --hover-color: {{hover_color}};
}
</style>
{% endif %}
{% if remove_images_border %}
<style>
.gallery-show img {
  border: none;
}
</style>
{% endif %}
{% if remove_images_background %}
<style>
.gallery-show img {
  background: none;
}
</style>
{% endif %}