<template>
  <div id="app">
    <PdfInterface />
  </div>
</template>

<script>
import PdfInterface from "./components/PdfInterface.vue";

export default {
  name: "PdfApp",
  components: {
    PdfInterface
  }
};
</script>

<style>
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

#app {
  height: 100%;
}
</style>
