<template>
  <div id="app">
    <ProjectLauncher />
  </div>
</template>

<script>
import ProjectLauncher from "./components/ProjectLauncher.vue";

export default {
  name: "ProjectApp",
  components: {
    ProjectLauncher
  }
};
</script>

<style>
html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
}

#app {
  height: 100%;
}
</style>
